# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Tests y cobertura
.pytest_cache/
.coverage
htmlcov/

# Editores y sistema
.vscode/
.idea/
*.swp
.DS_Store
